<%- include('./partials/header.ejs')%>
<link rel="stylesheet" href="/css/style.css">
  
  
<main>
  <div class="category_box">
      <h3>Mobiles</h3>
      <%if (mobiles.length == 0) {%>
          <p>There are no development connections.</p>
      <%} else {%>
        <%mobiles.forEach(trade => {%>
        <a>--------------<a>
        <div class="card">
          <img src="<%=trade.image%>" alt="<%=trade.title%>" class ="cardimg">
          <p><%=trade.title%></p>
          <div class = "button" >
              <a href="/trade/<%=trade.id%>"><button type="button" class="btn btn-default"><i class="CreateButton"> Go to trade</i></button></a>
          </div>
        </div>
        <%});%>
      <%}%>
  </div>
  <div class="category_box">
      <h2>Accessories</h2>
      <%if (accessories.length == 0) {%>
          <p>There are no system administration connections.</p>
      <%} else {%>
        <%accessories.forEach(trade => {%>
          <a>--------------</a>
        <div class="card">
          <img src="<%=trade.image%>" alt="<%=trade.title%>" class ="cardimg">
          <p><%=trade.title%></p>
          <div class = "button" >
              <a href="/trade/<%=trade.id%>"><button type="button" class="btn btn-default"><i class="CreateButton">Go to trade</i></button></a>
          </div>
        </div>
        <%});%>
      <%}%>
  </div>
</main>
    <div id="page-container">
        <div id="content-wrap">
          <!-- all other page content -->
    </div>
<%- include('./partials/footer.ejs')%>